#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.row {
  display: flex;
}

.pixel {
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
}

:root {
  --white: rgb(255, 255, 255);
  --lightgray: rgb(170, 170, 170);
  --darkgray: rgb(85, 85, 85);
  --black: rgb(0, 0, 0);
}

.white {
  background-color: var(--white);
}

.lightgray {
  background-color: var(--lightgray);
}

.darkgray {
  background-color: var(--darkgray);
}

.black {
  background-color: var(--black);
}

.color-picker {
  display: flex;
  margin-bottom: 16px;
}

.color-swatch {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border: 2px solid #ddd;
  cursor: pointer;
}

.color-swatch.selected {
  border: 2px solid #333;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden-input {
  display: none;
}

.button-container {
  display: flex;
}

.button-container > button {
  margin: 0 5px;
}

.container > div:not(:last-child) {
  margin-bottom: 24px;
}

.grid-size-selector,
.conversion-method {
  display: flex;
  justify-content: center;
  gap: 16px;
}

select {
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  appearance: none;
  font-size: 16px;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: #333;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 16px;
}

button:hover {
  background-color: #555;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
