:root {
  --white: rgb(255, 255, 255);
  --lightgray: rgb(170, 170, 170);
  --darkgray: rgb(85, 85, 85);
  --black: rgb(0, 0, 0);
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bgColor-default);
}

.white {
  background-color: var(--white);
}

.lightgray {
  background-color: var(--lightgray);
}

.darkgray {
  background-color: var(--darkgray);
}

.black {
  background-color: var(--black);
}
