body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bgColor-default, #fff);
  color: var(--fgColor-default, #1f2328);
}

#root {
  margin: 0 auto;
  padding: 2rem;
}
